.splitRow {
    max-width: 270px;
    display: flex;
    justify-content: space-between;
}

.splitName, .timeDelta, .pbTime, .cumulativeTime {
    display: flex;
    min-width: 50px;
    padding: 1px 0px;
}

.splitName {
    flex: 1
}

.pbTime, .cumulativeTime, .timeDelta {
    justify-content: center;
}

.pbTime {
    color: #bbb;
}

.gold {
    color: #bb3;
}

.ahead {
    color: #3a3;
}

.behind {
    color: #e33;
}