.box-holder {
    display: flex;
}

.split-container, .form-container {
    display: block;
    min-width: 280px;
    overflow: scroll;
}

.split-container { 
    max-height: 296px;
}

.header { width: 275px; display: flex; justify-content: space-between; margin-bottom: 5px}

.category-name, .category-attempts { display: flex }