.box-holder {
    display: flex;
}

.split-container, .form-container {
    display: block;
    min-width: 300px;
    height: 400px;
    overflow: scroll;
}

.header { width: 275px; display: flex; justify-content: space-between; }

.category-name, .category-attempts { display: flex }